<footer class="footer">
  <small>
    <%= link_to t(".title"), Settings.footer.path_link %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".link_title"), about_path %></li>
      <li><%= link_to t( ".link_title1"), contact_path %></li>
      <li><%= link_to t(".link_title2"), Settings.footer.path_link1 %></li>
    </ul>
  </nav>
</footer>
